---
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/Link.astro";
import "../../styles/home.css";
import { technologies, techCategories } from "../../constants.ts";
---

<Layout
  title="Lukáš Netolický | IT nadšenec"
  description="Jsem sředoškolák, kterého baví programování a informační technologie."
>
  <section class="container">
    <div class="hero">
      <h1>Ahoj! Jsem <span class="highlight">Lukáš</span></h1>
      <p class="hero-subtitle">Student IT</p>
      <p class="hero-description">
        Je mi 17 let a studuju na střední škole. Baví mě programování a
        technologie obecně. Rád se učím nové věci a tvořím projekty, na kterých
        si zkouším a zlepšuju svoje technické dovednosti. Pořád se snažím
        posouvat dál a učit se nové věci, ať už ve škole nebo ve volném čase.
      </p>
      <div class="hero-buttons">
        <Link href="/cs/projects" type="primary">Moje projekty</Link>
        <Link href="/cs/about" color="secondary">Více o mně</Link>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="home-section about">
    <div class="container">
      <h2>O mně</h2>
      <div class="about-content">
        <p>
          Jsem středoškolák, kterého baví programování, IT a jiné technologie.
          Rád zjišťuju, jak věci fungují, a učím se z chyb, když se něco pokazí.
          Hodně mě baví zkoušet různé technologie, knihovny a programovací
          jazyky.
        </p>
        <p>
          Převážně tvořím webové aplikace, ale baví mě i různé jiné
          programátorské projekty. Rád učím praxí a pouštím do nových výzev,
          které mě posouvají dál a pomáhají mi řešit zajímavé problémy.
        </p>
      </div>
    </div>
  </section>

  <!-- Technologies Section -->
  <section class="container home-section technologies">
    <h2>Technologie, které používám</h2>
    <div class="tech-categories">
      {
        techCategories.map((category) => (
          <div class="tech-category">
            <h3>{category.title_cs}</h3>
            <ul class="tech-list">
              {technologies
                .filter((tech) => tech.category === category.key)
                .map((tech) => (
                  <li aria-label={`${tech.name} ikona`}>
                    {tech.url ? (
                      <a href={tech.url} class="list-item">
                        <tech.icon
                          class="tech-icon"
                          class:list={tech.lightModeIcon && "tech-icon-dark"}
                        />
                        {tech.lightModeIcon && (
                          <tech.lightModeIcon class="tech-icon tech-icon-light" />
                        )}
                      </a>
                    ) : (
                      <div class="list-item">
                        <tech.icon
                          class="tech-icon"
                          class:list={tech.lightModeIcon && "tech-icon-dark"}
                        />
                        {tech.lightModeIcon && (
                          <tech.lightModeIcon class="tech-icon tech-icon-light" />
                        )}
                      </div>
                    )}
                  </li>
                ))}
            </ul>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
