---
import Layout from "../../../layouts/Layout.astro";
import PostsCard from "../../../components/PostCard.astro";
import "../../../styles/projects.css";
import { getCollection } from "astro:content";

const posts = await getCollection("blog", ({ data }) => {
  return (
    data.published &&
    (!data.published || new Date(data.published) <= new Date())
  );
});

const sortedPosts = posts.sort((a, b) => {
  return (
    new Date(b.data.published).getTime() - new Date(a.data.published).getTime()
  );
});
---

<Layout
  title="Posts | Lukáš Netolický"
  description="My personal blog where i share interesting projectda and problems i takcle."
>
  <div class="container">
    <section class="page-header">
      <h1>My <span class="highlight">Blog</span></h1>
      <p class="subtitle">
        Vítejte na mém blogu! Zde píšu o svých zkušenostech, myšlenkách a
        věcech, které mě baví. Doufám, že tu najdete inspiraci, a budu rád za
        jakoukoli zpětnou vazbu!
      </p>
      <p class="subtitle">Příspěvky blogu jsou bohužel zatím pouze v angličtině.</p>
    </section>

    <section>
      {
        sortedPosts.length !== 0 && (
          <div class="projects-container">
            {sortedPosts.map((post) => (
              <PostsCard data={post.data} id={post.id} />
            ))}
          </div>
        )
      }
    </section>
  </div>
</Layout>
