---
import Layout from "../../../layouts/Layout.astro";
import ProjectCard from "../../../components/ProjectCard.astro";
import "../../../styles/projects.css";
import { getCollection } from "astro:content";

const projects = await getCollection("projects", ({ data }) => {
  return (
    data.published &&
    (!data.published || new Date(data.published) <= new Date())
  );
});

const sortedProjects = projects.sort((a, b) => {
  if (a.data.featured && !b.data.featured) return -1;
  if (!a.data.featured && b.data.featured) return 1;

  return (
    new Date(b.data.published).getTime() - new Date(a.data.published).getTime()
  );
});
---

<Layout
  title="Projekty | Lukáš Netolický"
  description="Mrkněte na moje projekty a to, na čem zrovna pracuju."
>
  <div class="container">
    <section class="page-header">
      <h1>Moje <span class="highlight">Projekty</span></h1>
      <p class="subtitle">Zde naleznete projekty na kterých jsem pracoval</p>
      <p class="subtitle">Zatím pouze v angličtině</p>
    </section>

    <section class="projects-container">
      {
        sortedProjects.map((project) => (
          <ProjectCard data={project.data} id={project.id} />
        ))
      }
    </section>
  </div>
</Layout>
