---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout
  title="Page Not Found | Lukáš Netolický"
  description="The page you're looking for doesn't exist."
>
  <div class="container">
    <section class="page-header">
      <h1><span class="highlight">404</span> – Page Not Found</h1>
      <p class="subtitle">
        Sorry, we couldn’t find the page you were looking for.
      </p>
    </section>
    <section class="cta">
      <p>
        It might have been moved or deleted, or maybe the URL was mistyped. You
        can return to the homepage to continue browsing.
      </p>
      <Link href="/" class="button" color="secondary">Go to Homepage</Link>
    </section>
  </div>
</Layout>

<style>
  .cta {
    text-align: center;
  }
  .cta p{
    padding-bottom: var(--space-md);
  }
</style>
