---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import "../styles/home.css";
import { technologies, techCategories } from "../constants.ts";
---

<Layout
  title="Lukáš Netolický | Computer Enthusiast"
  description="High school student who loves coding and tech stuff."
>
  <section class="container">
    <div class="hero">
      <h1>Hey! I'm <span class="highlight">Lukáš</span></h1>
      <p class="hero-subtitle">Student Developer</p>
      <p class="hero-description">
        I'm a 17-year-old high school student who loves coding and tech stuff. I
        enjoy learning new things and building projects that challenge my
        skills. I'm always looking for new opportunities to grow and improve my
        skills. Whether it's through school or my personal side projects, I'm
        committed to pushing myself to learn and grow!
      </p>
      <div class="hero-buttons">
        <Link href="/projects" type="primary">Check Out My Projects</Link>
        <Link href="/about" color="secondary">More About Me</Link>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="home-section about">
    <div class="container">
      <h2>About Me</h2>
      <div class="about-content">
        <p>
          I'm a high school student that likes coding. I love figuring out how
          stuff works and learning when things break along the way. Playing with
          different technologies, libraries, and programming languages is
          something I really enjoy!
        </p>
        <p>
          My projects range from web apps to all sorts of coding experiments.
          I'm all about hands-on learning experience and enjoy going into
          different challenges that level up my skills and help me solve cool
          problems.
        </p>
      </div>
    </div>
  </section>

  <!-- Technologies Section -->
  <section class="container home-section technologies">
    <h2>Technologies I Work With</h2>
    <div class="tech-categories">
      {
        techCategories.map((category) => (
          <div class="tech-category">
            <h3>{category.title}</h3>
            <ul class="tech-list">
              {technologies
                .filter((tech) => tech.category === category.key)
                .map((tech) => (
                  <li aria-label={`${tech.name} ikona`}>
                    {tech.url ? (
                      <a href={tech.url} class="list-item">
                        <tech.icon
                          class="tech-icon"
                          class:list={tech.lightModeIcon && "tech-icon-dark"}
                        />
                        {tech.lightModeIcon && (
                          <tech.lightModeIcon class="tech-icon tech-icon-light" />
                        )}
                      </a>
                    ) : (
                      <div class="list-item">
                        <tech.icon
                          class="tech-icon"
                          class:list={tech.lightModeIcon && "tech-icon-dark"}
                        />
                        {tech.lightModeIcon && (
                          <tech.lightModeIcon class="tech-icon tech-icon-light" />
                        )}
                      </div>
                    )}
                  </li>
                ))}
            </ul>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
