---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>lukasnetolicky.cz</title>
	</head>
	<body style="text-align: center;">
		<h1>Hi! This site <a href="/">lukasnetolicky.cz</a> is currently under development.</h1>
		<p>It will be available soon.</p>
	</body>
</html>
