---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  href: string;
  alt: string;
}
const { image, href, alt } = Astro.props;
---

<a href={href} target="_blank">
  <Image
    src={image}
    width={300}
    height={300}
    alt={alt}
    format="avif"
    class="image"
  />
</a>

<style>
  .image {
    width: 230px;
    height: 230px;
    transition: transform 0.2s ease-in-out;
  }

  .image:hover {
    transform: scale(1.05) rotate(-2deg);
  }
</style>
