---
interface Props {
  date: Date;
}
const { date } = Astro.props;
const formattedDate =
  Astro.currentLocale === "cs"
    ? date.toLocaleDateString("cs", {
        year: "numeric",
        month: "numeric",
        day: "numeric",
      })
    : date.toLocaleDateString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
      });
---

<span class="date">
  {formattedDate}
</span>
