---
import { getRelativeLocaleUrl } from "astro:i18n";
import CZIcon from "../assets/icons/cz.svg";
import GBIcon from "../assets/icons/gb.svg";

const currentLang = Astro.currentLocale;
const targetLang = currentLang === "cs" ? "en" : "cs";
const pathWithoutLang =
  Astro.url.pathname.replace(new RegExp(`^/${currentLang}`), "") || "";
const switchUrl = getRelativeLocaleUrl(targetLang, pathWithoutLang);

const Icon = currentLang === "en" ? CZIcon : GBIcon;
const label =
  currentLang === "cz" ? "Přepnout do Angličtiny" : "Switch to Czech";
---

<a href={switchUrl}>
  <button aria-label={label}>
    <Icon width="24" height="24" />
  </button>
</a>

<style>
  button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  button:hover {
    transform: scale(1.2);
  }
</style>
